<header class="header">
    <div class="logo">
      <a href="/"><h1>Pizzaria.Tech</h1></a>
    </div>
    <nav class="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cardapio">Cardápio</a></li>
        <li><a href="/funcionarios">Funcionários</a></li>
        <li><a href="/contato">Contato</a></li>
        <li><a href="/historia">História</a></li>
      </ul>
    </nav>
    <div class="login">
      <a href="/login"><p><i></i>Login/Registrar</p></a>
    </div>
</header>
  