<section class="menu-pizzaria">
    <h2>DESTAQUES</h2>
  
    <div class="destaques-grid">
      <div class="destaque">
        <div class="descricao">
          <h3>Pizza Gigante 1</h3>
          <p>Pizza gigante com 40cm (12 fatias) + borda recheada + refrigerante</p>
          <p>A partir de R$ 77,00</p>
        </div>
        <img src="pizza_gg1.jpg" alt="Pizza Gigante 1">
        <button class="add-button">+</button>
      </div>
  
      <!-- Adicione mais itens em destaque aqui -->
    </div>
  </section>
  